/* normalize */
body { margin: 0; }

/* global styles */
.flexbox{
  display:flex;
  grid-gap: 20px;
}

video {
  background-color: #111;
  /* display: flex; */
}



.heading {
  text-align: center;
  margin-bottom: 0;
}

.note {
  text-align: center;
}

.meta {
  text-align: center;
  font-size: .8rem;
  color: gray;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

/* p2p-media styles */
.p2p-media {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#js-remote-stream {
  width: 500px;
  height: 350px;
}

#js-local-stream {
  width: 500px;
  height: 350px;
}

/* p2p-data styles */
.p2p-data {
  display: grid;
  /* grid-template-columns: 30% 1fr; */
  grid-template-columns: 260px 500px 200px;
  margin: 0 8px;
}

.p2p-data .messages {
  background-color: #eee;
  height: 210px;
  width: 500px;
  padding: 8px;
  margin-top: 0;
  overflow-y: scroll;
  word-break: break-all;
  white-space: pre-wrap;
  font-family: sans-serif;
  background-color: rgba(102, 252, 190, 0.642);
}

.p{
  display: all;
  /* background-color: rgba(134, 20, 175, 0.642); */
  font-weight: bolder;
  font-size: 1.2rem;
  height: 5px
}

.area{
  width:300px;
  height:50px;
}

.bt{
  position: relative; /* 今の位置を基準 */
  bottom: 10px; /* 上から10px */
}

.btn{
  text-align:center;
  position: relative; /* 今の位置を基準 */
  top: 120px;
}

pre {
  white-space: pre-wrap;
}

.aaa {
  overflow: auto;
}


/* .line__contents */
/* .scroll {
  height: 100px;
  overflow-y: auto;
} */
