#ido {
    text-align: center;
    margin-top: 30px;
}

#ca,#day,#con {
    text-align: center;
    background-color: #c2edff;
    margin: 0 300px 0 300px;
    font-weight: bold;
    padding: 10px;
}

#cuser {
    text-align: center;
}

#hou,#mini {
    text-align: center;
}

#contact {
    text-align: center;
}

#bu {
    background-color: skyblue;
    color: snow;
    border: 2px solid skyblue;
    width: 60px;
    height: 40px;
    border-radius:5px;
}

#a {
    background-color: skyblue;
    color: snow;
    padding: 10px;
    border-radius:5px;
    text-decoration: none;
}